<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>全部</string>
		<string>商场</string>
		<string>超市</string>
		<string>卖场</string>
	</array>
	<array>
		<string>全部</string>
		<string>中餐</string>
		<string>西餐</string>
		<string>火锅</string>
		<string>农家</string>
		<string>鱼馆</string>
		<string>特色</string>
		<string>烧烤</string>
		<string>简餐</string>
		<string>农场</string>
	</array>
	<array>
		<string>全部</string>
		<string>男装</string>
		<string>女装</string>
		<string>儿童装</string>
		<string>休闲装</string>
		<string>冬装</string>
		<string>内衣</string>
		<string>鞋</string>
		<string>家纺</string>
		<string>运动鞋</string>
	</array>
	<array>
		<string>全部</string>
	</array>
	<array>
		<string>全部</string>
		<string>中医</string>
		<string>药房</string>
		<string>专科医院</string>
		<string>整形</string>
	</array>
	<array>
		<string>全部</string>
		<string>家电</string>
		<string>电脑／笔记本</string>
		<string>数码</string>
		<string>手机</string>
		<string>空调</string>
		<string>热水器／净化器</string>
	</array>
	<array>
		<string>全部</string>
		<string>美容SPA</string>
		<string>美发</string>
		<string>化妆品</string>
		<string>眼镜</string>
		<string>美甲</string>
	</array>
	<array>
		<string>全部</string>
		<string>连锁酒店</string>
		<string>商务酒店</string>
		<string>星级酒店</string>
		<string>洗浴</string>
		<string>足浴</string>
	</array>
	<array>
		<string>全部</string>
		<string>KTV</string>
		<string>咖啡屋</string>
		<string>瑜伽健身</string>
		<string>电影院</string>
		<string>网吧</string>
		<string>手工制作</string>
		<string>旅行社</string>
	</array>
	<array>
		<string>全部</string>
		<string>蛋糕</string>
		<string>零食</string>
		<string>茶庄</string>
		<string>美酒</string>
	</array>
	<array>
		<string>全部</string>
		<string>银行</string>
		<string>电信</string>
		<string>黄金首饰</string>
	</array>
	<array>
		<string>全部</string>
		<string>婚纱摄影</string>
		<string>钻石首饰</string>
		<string>婚庆服务</string>
		<string>婚宴酒店</string>
		<string>婚庆用品</string>
		<string>蜜月旅游</string>
		<string>艺术气球</string>
	</array>
	<array>
		<string>全部</string>
		<string>儿童装</string>
		<string>儿童玩具</string>
		<string>孕婴店</string>
		<string>儿童摄影</string>
	</array>
	<array>
		<string>［家具］</string>
		<string>全部</string>
		<string>田园</string>
		<string>欧式</string>
		<string>美式</string>
		<string>中式</string>
		<string>简欧</string>
		<string>简约</string>
		<string>现代</string>
		<string>儿童屋</string>
		<string>办公</string>
		<string>实木</string>
		<string>［建材／装潢］</string>
		<string>全部</string>
		<string>装潢公司</string>
		<string>吊顶</string>
		<string>室内门</string>
		<string>瓷砖</string>
		<string>卫浴</string>
		<string>墙面漆</string>
		<string>防盗门</string>
		<string>整体橱柜</string>
		<string>壁纸</string>
		<string>衣柜移门</string>
		<string>木地板</string>
		<string>软包</string>
		<string>灯具</string>
		<string>阳台衣架</string>
		<string>壁暖</string>
		<string>其他</string>
	</array>
	<array>
		<string>全部</string>
		<string>汽车</string>
		<string>汽车轮胎</string>
		<string>汽车美容</string>
		<string>汽车服务</string>
	</array>
	<array>
		<string>全部</string>
		<string>驾校</string>
		<string>艺术培训</string>
		<string>外语培训</string>
		<string>幼儿园</string>
		<string>早教机构</string>
		<string>安全防护</string>
	</array>
	<array>
		<string>全部</string>
		<string>独轮平衡</string>
		<string>摩托车</string>
		<string>电动车</string>
		<string>自行车</string>
	</array>
	<array>
		<string>全部</string>
		<string>宠物</string>
		<string>水族</string>
	</array>
</array>
</plist>
