<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>商场／超市／电器卖场</string>
	<string>美食</string>
	<string>服装／鞋／家纺</string>
	<string>房地产</string>
	<string>医疗／医药／整形／养老院</string>
	<string>家电／数码／手机／办公耗材</string>
	<string>美容SPA／美发／化妆品／眼镜</string>
	<string>住宿／洗浴／足浴</string>
	<string>休闲／娱乐／瑜伽健身／旅游</string>
	<string>蛋糕／零食／茶庄／美酒</string>
	<string>金融／黄金／珠宝</string>
	<string>婚庆六部曲</string>
	<string>孕婴／儿童服装／儿童玩具</string>
	<string>家具／建材／装潢</string>
	<string>汽车美容／轮胎</string>
	<string>教育／驾校／安防</string>
	<string>电动车／自行车／摩托车</string>
	<string>宠物／水族</string>
</array>
</plist>
