<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>http://www.ugohb.com/wap/catelist.php?id=3</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=41</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=42</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=43</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=1</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=11</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=12</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=13</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=14</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=15</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=16</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=17</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=320</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=2</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=28</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=29</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=30</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=31</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=33</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=34</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=35</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=286</string>
	</array>
	<string>http://www.ugohb.com/wap/catelist.php?id=4</string>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=5</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=68</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=69</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=70</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=71</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=321</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=6</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=75</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=76</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=77</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=78</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=80</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=287</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=7</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=90</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=91</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=92</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=93</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=288</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=8</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=95</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=96</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=97</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=98</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=99</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=9</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=100</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=101</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=102</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=103</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=104</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=106</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=107</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=10</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=137</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=138</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=139</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=140</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=193</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=211</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=214</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=215</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=194
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;string&gt;http://www.ugohb.com/wap/catelist2.php?id=194&lt;/string&gt;
&lt;/plist&gt;
</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=217</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=218</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=219</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=220</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=221</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=222</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=318</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=195</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=223</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=224</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=225</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=226</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=317</string>
	</array>
	<array>
		<array>
			<string>http://www.ugohb.com/wap/catelist.php?id=196</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=227</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=228</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=229</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=230</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=231</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=232</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=233</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=234</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=235</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=291</string>
		</array>
		<array>
			<string>http://www.ugohb.com/wap/catelist.php?id=197</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=236</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=237</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=238</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=239</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=240</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=241</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=242</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=243</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=244</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=245</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=246</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=247</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=248</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=249</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=289</string>
			<string>http://www.ugohb.com/wap/catelist.php?id=290</string>
		</array>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=200</string>
		<string>http://www.ugohb.com/wap/catelist2.php?id=199</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=265</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=264</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=263</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=201</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=271</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=269</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=267</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=266</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=316</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=319</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=202</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=277</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=276</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=274</string>
		<string>http://www.ugohb.com/wap/catelist.php?id=275</string>
	</array>
	<array>
		<string>http://www.ugohb.com/wap/catelist2.php?id=209</string>
		<string>http://www.ugohb.com/wap/catelist2.php?id=284</string>
		<string>http://www.ugohb.com/wap/catelist2.php?id=285</string>
	</array>
</array>
</plist>
